#specific files
JusticeScores.json
JusticeScores.txt
assthete.json
asstheteFixed.json
JusticeUserList.txt
JusticeCache.json
test.txt
/UsersFolder
#---------------------------------------#
# Project Ignores                       #
#---------------------------------------#

*.zip
*anime.json
*manga.json
*results.txt

# output
/.temp
/.tmp
/build
/dist


# dependencies
/node_modules
.package.swp

# linters
.eslintcache/
.eslintrc
.eslintrc.yaml
.eslintrc.json
.eslintrc.js
.stylelintcache/
.stylelintrc
.stylelintrc.yaml
.stylelintrc.json
.stylelintrc.js

# misc
/connect.lock
/coverage/*
/report_*
/reports/
.sass-cache/
*.log


#---------------------------------------#
# IDEs & Editors Ignores                #
#---------------------------------------#

# Sublime Text
/*.sublime*
.sublime-gulp.cache

# JetBrains IDEs
/.idea


#---------------------------------------#
# General Ignores                       #
#---------------------------------------#

*~
*.orig
.vagrant


#---------------------------------------#
# Linux Ignores                         #
#---------------------------------------#

# KDE directory preferences
.directory


#---------------------------------------#
# OSX Ignores                           #
#---------------------------------------#

.DS_Store
.AppleDouble
.LSOverride
.localized

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


#---------------------------------------#
# Windows Ignores                       #
#---------------------------------------#

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
TestJusticeScores.txt
test.json
.vscode/launch.json
mcmServerUsers.txt
mcmServerScores.txt
mcmServerCache.json
JusticeCacheCleaned.json
JusticeTestUsers.js
test.txt
test.txt
JusticeManga.json
JusticeManga.txt
test.txt
test.txt
test.txt
testCache.json
testCache.json
scrapFunc.js
json_funcs.js
test.py
my_results.txt
ratios.txt
ComfyCampUsers
ComfyCampCombinedUsers.txt
ComfyCampOnly.json
ComfyCampScores.txt
ComfyCampSheet.xlsx
ComfyCampUsers.txt
out.txt
sample.xlsx
ALFavoritesFunctions/user_favourites_data1.json
ALFavoritesFunctions/__pycache__/userPercentile.cpython-38.pyc
